@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    --colorTitle: #ffffff;
    --borderTitle: #fea544;

    --button: #fea646;
    --buttonHover: #e08a2d;
    --buttonText: #812d46;
    --borderButton: #863045;

    --borderFortune: #6793b3;

    --autorTitle: #6a6a6b;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Concert One', cursive;
    background: url("./images/fondo1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card__fortuna {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.card__title {
    /*  width: 380px; */
    color: var(--colorTitle);
    font-size: 2.8rem;
    -webkit-text-stroke: 1.5px var(--borderTitle);
    text-align: center;
    user-select: none;
}


.button__luck {
    color: var(--buttonText);
    background-color: var(--button);
    border: 3px solid var(--borderButton);
    font-family: 'Concert One', cursive;
    font-size: 1.1rem;
    width: 220px;
    height: 52px;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button__luck:hover {
    background-color: var(--buttonHover);
}

.card__phrase {
    background-color: white;
    font-size: 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
    padding: 4rem;
    max-width: 600px;
    height: 180px;
    border-radius: 0.5rem .5rem 3.5rem .5rem;
    border: 3px solid var(--borderFortune);
}

.coutpage {
    position: absolute;
    bottom: -2px;
    right: -1px;
    border-radius: .5rem 0rem 4.5rem 0rem;
    height: 54px;
    width: 50px;
    background-color: var(--borderFortune);
    border: 3px solid var(--borderFortune);
}

.card__autor {
    margin-top: 10rem;
    color: var(--autorTitle);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(206, 203, 203, 0.712);
    border-radius: .1rem;
    width: 230px;
}

.corte {
    position: absolute;
    bottom: -11px;
    right: 4px;
    border-bottom: 41px solid transparent;
    border-left: 44px solid var(--borderFortune);
    transform: rotate(18deg);
}